body, html{
	margin: 0px;
	padding: 0px;	
	width: 100%;
	height: 100%;
	font-size: 14px;
}

/* Fonts */
	@import url('https://fonts.googleapis.com/css?family=Dosis:500');
	@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

/* Main content wrapper */
.main-content-wrapper{
	width: 100%;
	height: 100vh;  
	background:  lightblue;
	background: rgb(27,51,83);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(27,51,83,0) 0%, rgba(125,185,232,0.51) 100%), url("../images/nasa-45076-unsplash.jpg") center top no-repeat;;
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(27,51,83,0) 0%,rgba(125,185,232,0.51) 100%), url("../images/nasa-45076-unsplash.jpg") center top no-repeat;;
	background: radial-gradient(ellipse at center,  rgba(27,51,83,0) 0%,rgba(125,185,232,0.51) 100%), url("../images/nasa-45076-unsplash.jpg") center top no-repeat;;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b3353', endColorstr='#7db9e8',GradientType=1 );
	background-size: cover;	
	position: relative;  
	overflow: hidden;
}
/* Main header */
.main-header{
	width:100%;
	margin:50px auto 100px;
	color:#fff;
}
.main-header nav{
	max-width: 1780px;
	padding-left: 70px;
	padding-right: 70px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	box-sizing: border-box;
}
.main-header nav h2{
	margin: 0px;
	align-self: center;
}
.main-header nav h2.brand img{
	width:225px;
	height: auto;
}
.main-header nav ul{
	padding: 0px;
	margin:0px;
	align-self: center;
	margin-left: auto;
}
.main-header nav ul li{
	list-style: none;
	padding: 0px;
	margin:0px;
	display: inline-block;
}
.main-header nav ul li a{
	color: #fff ;
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	font-size: 2.357rem;
	text-decoration: none;
	padding:1rem;
	box-sizing: border-box;
}
.main-header nav ul li.search-form{
	vertical-align: top;
}
.main-header nav ul li.search-form input[type=text]{
	height: 42px;
	box-sizing: border-box;
	background-color: #fff;	
	border-radius: 6px 0px 0px 6px;
	color:#D9D9D9;
	font-family: 'Dosis', sans-serif;
	padding: 15px;
	font-size: 0.929rem;
	width:225px;
	border: none;
	vertical-align: top;
}
.main-header nav ul li.search-form button[type=submit]{
	height: 42px;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 0px 6px 6px 0px;
	border: none;
	cursor: pointer ;
	position: relative;	
	color: #205BA8;
	padding: 0px 15px 0px 15px;
	vertical-align: top;
}
.main-header nav ul li.search-form button[type=submit] i{
	font-size: 1.4rem;		
}

/* Main content */
.content{
	max-width: 1780px;
	padding-left: 70px;
	padding-right: 70px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	box-sizing: border-box;
	margin:0px auto;
}
.content header{
	margin-bottom: 30px;
}
.content header h2{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	margin:0px;
	color: #fff;
	font-size: 34px;
}
.sidebar-left, .sidebar-right{
	width:24%;	
	box-sizing: border-box;	
}
.sidebar-left{
	padding-right: 45px;
}
.sidebar-right{
	padding-left: 45px;
}
.middle{
	width:52%;
	padding-left:40px;
	padding-right: 40px;
	box-sizing: border-box;
}
/* Left sidebar stories */
.sidebar-left ul.stories{
	padding: 0px;
	margin:0px;
}
.sidebar-left ul li.storie{
	list-style: none;
	margin-bottom: 35px;
}
.sidebar-left ul li:last-child{
	margin-bottom: 0px;
}
.sidebar-left ul li figure{
	display: block;
	margin: 0px;
	overflow: hidden;
	position: relative;
	-webkit-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.25);
}
.sidebar-left ul li figure .img-wrapper{
	max-height: 190px;
	overflow: hidden; 
}
.sidebar-left ul li figure img{
	max-width: 100%;
}
.sidebar-left ul li figure figcaption{
	padding: 10px;
	background-color: rgba(32, 91, 168, 0.85);
	/*205BA8*/
	color:#fff;
	font-family: 'Titillium Web', sans-serif;
	position: absolute;
	bottom:0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
}

.sidebar-left ul li figure figcaption h3{
	margin: 0px;
	font-size: 18px;
	font-weight: 400;
}

/* Middle content */
.middle{
	font-family: "Titillium Web", sans-serif;
	color:#fff;
}
.middle .img-wrapper{
	box-sizing: border-box;
	width: 100%;
	position: relative;
	max-height: 450px;
	overflow: hidden;
	z-index: 0;
	margin-bottom: 20px;
}
.middle .img-wrapper img{
	width: 100%; 
	height: 100%;
	margin-top: -8%;
}
.middle .img-wrapper .overlay{
	background-color: rgba(0,0,0,0.45);
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	content: '';
	z-index: 1;
}
.middle .img-wrapper span.live{
	background-color: #FC3209 ;
	color:#fff;
	font-weight: 400;
	text-align: center;
	border-radius: 5px;
	position: absolute;
	top:15px;
	left:15px;
	z-index: 2;
	padding: 7px 30px;
	font-size: 18px;
		-webkit-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.25);	
}
.middle .img-wrapper span.play-btn{
	position: absolute;
	z-index: 2;
	width: 90px;
	height: 90px;
	top: 50%;
	margin-top: -45px;
	left: 50%;
	margin-left: -45px;
	text-align: center;
}
.middle .img-wrapper span.play-btn i{
	font-size: 6rem;
	color:#fff;
}
.middle h3{
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 24px;
}
.middle p{
	font-size: 1rem;
	font-weight: 400;
	margin:0px;
}

/* Sidebar Right */
.news-events-wrapper{
	position: relative;
	margin: 0px;
	padding: 0px;
	-webkit-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.25);	
}
nav.tab-switch{
	position: relative;
	background-color: #fff;	
}
nav.tab-switch ul{
	margin:0px;
	padding:0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
nav.tab-switch ul li{
	width: 50%;
	box-sizing: border-box;
	font-family: 'Titillium Web',sans-serif;
	font-size: 33px;
	padding: 10px 20px; 
	color: #fff;
	list-style: none;
	background-color: #205BA8;
	text-align: center;
}
nav.tab-switch ul li a{
	text-decoration: none;
	color:#fff;
}
nav.tab-switch ul li a:hover{
	text-decoration: underline;
}
nav.tab-switch ul li.active{
	background-color: #fff;
}
nav.tab-switch ul li.active a{
	color: #205BA8;		
}
div.news-wrapper{
	background-color: #fff;
}
div.news-wrapper ul{
	margin:0px;
	padding: 30px 15px;

}
div.news-wrapper ul li{
	list-style: none;
	margin-bottom: 28px;
}
div.news-wrapper ul li:last-child{
	margin-bottom: none;
}
div.news-wrapper ul li a{
	color: #205BA8;
	text-decoration: none;
	font-family: 'Titillium Web', sans-serif;
	margin-bottom: 15px;
	display: block;
	font-size: 14px;
}
div.news-wrapper ul li a:hover{
	text-decoration: underline;
}
div.news-wrapper ul li i{
	margin-right: 10px;
	font-size: 13px;
}
div.news-wrapper ul li .share-time{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color:#a3a4a6;
	font-family: 'Titillium Web', sans-serif;
	font-style: italic;
}
div.news-wrapper ul li .share-time span{
	width: 50%;
}


/* @media */

@media screen and (min-width: 1024px) and (max-width: 1440px) {
	.main-header{
		margin:25px auto 50px;
	}	
	.main-header nav h2.brand img{
		width: 185px;
	}
	.main-header nav ul li a {
		font-size: 1.857rem;
	}
}